/* -------------------------------UNIVERSAL------------------------------- */
/* Adding custom Fonts */

@font-face {
    font-family: 'Brolimo';
    src: url(fonts/BROLIMO-Regular.ttf) format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*color: #ccc;*/
    color: #232029;
}

/* -------------------------------HOME PAGE------------------------------- */



/* -------------------------------HYPERLINK------------------------------- */

a { /* Universal Hyperlinks */
    text-decoration: none;
    transition: .4s; /* How long it takes for effect to "wear off" from a:hover */
    color: #ccc;
}

a:hover { /* Hover over Hyperlinks*/
    color: #e91e63;
    transition: color .4s ease; /* Cool color transition effect upon a:hover */ 
}



/* ----------------------------------BODY---------------------------------- */


body { /* Background color 232029 , 2a2b32 */
    height: 100vh;
    /* background: #232029; */
    background: #ccc; 
}


/* ---------------------------------NAVBAR--------------------------------- */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px; /* Round button edges */   
    height: 80px;
    padding: 0 50px;
    background-color: #232029;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none; /* Removes the list symbols */
}

.navbar ul li:last-child a {
    margin: 0; /* Targets last element in navbar list, "About", and makes margin 0 */
}

.navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px; /* Space between "buttons" */
}

.navbar h1.logo { /* Welcome ""logo"" */
    font-family: 'Brolimo', sans-serif;
    font-size: 2.3rem;
    font-weight: 500;
    color: #e91e63;
}

.navbar a button { /* Download Resume Button */
    color: #232029;
    font-weight: bold;
    padding: 6px 25px;
    border: none;
    font-size: 16px;
    border-radius: 6px; /* Round button edges */
    transition: background-color 0.3s ease;
}

.download:hover {
    background: #e91e63;  
    color: #ccc;
}

/* ---------------------------------IMG PDF--------------------------------- */
.main {
    height: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

.main img {
    width: 750px; /* flexes to the percentage of the page */
}

.main span.name {
    font-family: 'Brolimo', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #e91e63;
}