/* -------------------------------UNIVERSAL------------------------------- */
/* Adding custom Fonts */

@font-face {
    font-family: 'Brolimo';
    src: url(fonts/BROLIMO-Regular.ttf) format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: 'Quicksand';
    src: url(fonts/Quicksand-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url(fonts/Poppins-Regular.ttf) format('truetype');
    font-weight: normal;
}


/* -------------------------------HOME PAGE------------------------------- */

/* Text */

h1.header { /* Welcome Header */
    font-family: 'Brolimo', sans-serif;
    font-size: 4.0rem;
    font-weight: light;
    color: #e91e63;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-size: x-large;
}


a { /* Hyperlinks */
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

a:hover { /* Hover over Hyperlinks*/
    color: #e91e63;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.index { /* Background color 232029 , 2a2b32 */
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background: #232029; 
}

.mb, p {
    margin-top: 4%;
    margin-bottom: 3rem;
    color: #ccc;
}

.links-list ul li{
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.links-list h1 {
    color: #fff;
    font-size: 2.5rem;
}

/* Footer and Goodbyes */
.footer {
    margin-top: 6rem;
}

.footer p {
    color: #fff;
    font-size: 1.3rem;
}

/* Beautification */
.links-list ul li span { /* Span ID */
    background-color: #e91e63;
    font-size: 1.2rem;
    border-radius: 10px;
    padding: 3px 6px;
    font-weight: bold;
    margin-left: 0.5rem;
    color: #fff;
}


canvas { /* Particle Canvas */
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 200px;
}

/* -------------------------------NAVIGATION------------------------------- */

nav{
    padding: 20px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

body.calculator a{
    color:#ffffff;
    font-weight: bold;
}

body.calculator a:hover{
    color: #e91e63;
}

nav a.selected{ /* Home button */
    font-family: 'Brolimo', sans-serif;
    font-size: 2.0rem;
    font-weight: light;
    color: #e91e63;
}

/* -------------------------------CALCULATOR------------------------------- */

html.calculator{
    box-sizing: border-box;
    height: 100%
}


*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
} 


body.calculator .wrapper{
    align-items: center;
    background: linear-gradient(320deg, #eb92be, #ffef78);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    justify-content: center;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #ff3;
    background: #d72890 10%;
}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:last-child:active{
    background-color: #ffef78;
    color: #d72890;
}

.calc-button:active{
    background-color: #ffef78;
}

.double{
    flex-basis: 47%;
}

.triple{
    flex-basis: 75%;
}


